<mat-toolbar color="primary">
    <span>
        <a routerLink="/">My Messages</a>
    </span>
       <span class="spacer"></span>
    <ul>
        <li>
            <a  mat-button routerLink="/create" roterLinkActive="mat-accent">New Post</a>
        </li>
        <li>
            <a  mat-button routerLink="/login" roterLinkActive="mat-accent">Login</a>
        </li>
        <li>
            <a  mat-button routerLink="/signup" roterLinkActive="mat-accent">Signup</a>
        </li>
   </ul>
 </mat-toolbar>